body{
    font-family: Arial, sans-serif;
    margin:0;
    padding-bottom:70px;
}

#content{
    padding:15px;
}

iframe, img{
    max-width:100%;
    border-radius:8px;
}

.bottom-nav{
    position:fixed;
    bottom:0;
    left:0;
    right:0;
    background:#222;
    display:flex;
}

.bottom-nav button{
    flex:1;
    padding:15px;
    color:white;
    background:none;
    border:none;
    font-size:14px;
}