body{
    font-family: Arial, sans-serif;
    margin:0;
    padding-bottom:70px;
    background:#f5f5f5;
}

h2{
    text-align:center;
    padding:10px 5px;
}

#content{
    padding:12px;
    font-size:15px;
}

iframe{
    width:100%;
    height:220px;
    border-radius:10px;
}

img{
    width:100%;
    margin-top:10px;
    border-radius:10px;
}

/* Pastki menyu */
.bottom-nav{
    position:fixed;
    bottom:0;
    left:0;
    right:0;
    height:60px;
    background:#111;
    display:flex;
    justify-content:space-around;
    align-items:center;
    box-shadow:0 -2px 10px rgba(0,0,0,0.2);
}

.bottom-nav button{
    flex:1;
    height:100%;
    color:white;
    background:none;
    border:none;
    font-size:13px;
}